<!DOCTYPE html>
<html>
    {% include head.md %}
    <body>
        
        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/{% if page.lang == "ru" %}ru/{% endif %}">{{ site.name }}</a></h1>
            <!--a class="extra" href="/">home</a-->
            <!--a class="extra" href="/categories.html">Categories</a-->
            <!--a class="extra" href="/tags.html">Tags</a-->
            <a class="extra" href="{% if page.lang == "ru" %}/ru/{% else %}/en/{% endif %}about/">About</a>
            {% if page.lang_view == true %}
              <a class="extra right" href="/"><img src="/img/gb.png"></a>
              <a class="extra right" href="/ru/"><img src="/img/ru.png"></a>
            {% endif %}
          </div>

          {{ content }}

          {% include footer.md %}
        </div>
    </body>
</html>
